<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="card">
    <div class="card-body">
      <div class="card-title">
        <h3>
          <%= I18n.t("actions.edit_user") %>
        </h3>
      </div>

      <%= f.input :name,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "given-name" }%>
      <%= f.input :last_name,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "family-name" }%>
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" }%>
      <%= f.input :password,
                  required: false,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  required: false,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :current_password,
                  required: true,
                  input_html: { autocomplete: "current-password" } %>

      <%= f.button :submit, class: "btn btn-primary" %>
    </div>

    <div class="card-footer">
      <%= link_to I18n.t("actions.destroy_user"), registration_path(resource_name), class: "btn btn-danger", data: { turbo_method: :delete, turbo_confirm: I18n.t("common.confirm") } %>
    </div>
  </div>
<% end %>
