<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="card">
    <div class="card-body">
      <div class="card-title">
        <h3>
          <%= I18n.t("actions.sign_up") %>
        </h3>
      </div>

      <%= f.input :name,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "given-name" }%>
      <%= f.input :last_name,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "family-name" }%>
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" }%>
      <%= f.input :password,
                  required: true,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  required: true,
                  input_html: { autocomplete: "new-password" } %>

      <%= f.button :submit, I18n.t("actions.sign_up"), class: "btn btn-primary" %>
    </div>

    <div class="card-footer">
      <%= render "devise/shared/links" %>
    </div>
  </div>
<% end %>
