<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <% if alert = flash[:alert] %>
    <div class="alert alert-danger">
      <%= alert %>
    </div>
  <% end %>

  <div class="card">
    <div class="card-body">
      <div class="card-title">
        <h3>
          <%= I18n.t("actions.login") %>
        </h3>
      </div>

      <%= f.input :email, required: true, autofocus: true, input_html: { autocomplete: "email" } %>
      <%= f.input :password, required: true, input_html: { autocomplete: "current-password" } %>
      <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>

      <%= f.button :submit, I18n.t("actions.login"), class: "btn btn-primary" %>
    </div>

    <div class="card-footer">
      <%= render "devise/shared/links" %>
    </div>
  </div>
<% end %>
